#   Inferential statistic Non-parametric

In [1]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [5]:
# Path to the file to be imported
path = "../data/Terminos_lagoon_TA_DIC__2023_RawData.csv"

# Import the file
co2_data = import_csv(path)

In [3]:
import pingouin as pg

# 1. This is a between subject design, so the first step is to test for equality of variances
pg.homoscedasticity(data=co2_data, dv='TA_micromol_kg', group='Area')

Matplotlib is building the font cache; this may take a moment.

               W      pval  equal_var
levene  8.582548  0.000357      False

In [20]:
# 2. If the groups have equal variances, we can use a regular one-way ANOVA
pg.anova(data=co2_data, dv='TA_micromol_kg', between='Area')

  Source  ddof1  ddof2          F         p-unc      np2
0   Area      2    103  16.306859  7.038507e-07  0.24049

In [4]:
# 3. If there is a main effect, we can proceed to post-hoc Tukey test
pg.pairwise_tukey(data=co2_data, dv='TA_micromol_kg', between='Area')

,A,B,mean(A),mean(B),diff,se,T,p-tukey,hedges
0,Coast,Plume,2738.416667,2764.142857,-25.726190,98.734095,-0.260560,0.963280,-0.078445
1,Coast,River,2738.416667,3241.171429,-502.754762,98.734095,-5.092008,0.000005,-1.056151
2,Plume,River,2764.142857,3241.171429,-477.028571,99.426974,-4.797778,0.000016,-1.075547

Vallat, R. (2018). Pingouin: statistics in Python. Journal of Open Source Software, 3(31), 1026
- https://doi.org/10.21105/joss.01026