#   Inferential statistic Non-parametric

In [3]:
import pandas as pd

# Import the air quality dataset 

CO2Data = pd.read_csv("MartinezTrejo_etal_2023_TA_DIC_RawData.csv")

![Alt text](warning.png)

![Alt text](UriasMPRecurso%201graphicalAbstract10.png)
- Vallat, R. (2018)

In [9]:
import pingouin as pg

# 1. This is a between subject design, so the first step is to test for equality of variances
pg.homoscedasticity(data=CO2Data, dv='TA_micromol_kg', group='Area')

               W      pval  equal_var
levene  8.582548  0.000357      False

In [10]:
# 2. If the groups have equal variances, we can use a regular one-way ANOVA
pg.anova(data=CO2Data, dv='TA_micromol_kg', between='Area')

  Source  ddof1  ddof2          F         p-unc      np2
0   Area      2    103  16.306859  7.038507e-07  0.24049

In [12]:
# 3. If there is a main effect, we can proceed to post-hoc Tukey test
pg.pairwise_tukey(data=CO2Data, dv='TA_micromol_kg', between='Area')

       A      B      mean(A)  ...         T   p-tukey    hedges
0  Coast  Plume  2738.416667  ... -0.260560  0.963280 -0.078445
1  Coast  River  2738.416667  ... -5.092008  0.000005 -1.056151
2  Plume  River  2764.142857  ... -4.797778  0.000016 -1.075547

[3 rows x 9 columns]

Vallat, R. (2018). Pingouin: statistics in Python. Journal of Open Source Software, 3(31), 1026
- https://doi.org/10.21105/joss.01026